:root {
  --dark-gray: #002333;
  --dark-green: #0d4c38;
  --light-gray: #cad5e2;
  --light-green: #cff5ce;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html,
  body {
    scroll-behavior: auto;
  }
}

.headroom {
  background-color: var(--dark-green);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
